#visual studio personal settings
.vs

#claude code local data
.claude

#engine personal settings
*.ini
*.metadata
*.asset

Library

#output files
GameScripts.dll
GameScripts.pdb

#compilation intermediate folder
ScriptsProject/ScriptsProject 
