#visual studio personal settings
.vs

#claude code local data
.claude

#engine personal settings
*.ini
*.asset

#hot-reload
**/ScriptsBuild.log

Library

#output files
GameScripts.dll
GameScripts.pdb
GameScripts_runtime_*.dll
GS_*.pdb

#compilation intermediate folder
ScriptsProject/ScriptsProject 

#audio assets
/Engine/Assets/Audio/
/Game/Assets/Audio/